#Stats {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

#Stats td, #Stats th {
  border: 1px solid #ddd;
  padding: 8px;
}


#Stats tr:nth-child(even){background-color: #f2f2f2;}

#Stats th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
section.absolute {
  position: relative;
  top: 15%;
  /*right: 5%;*/
  /*Relative position instead of absolute allows responsiveness*/
  left: 53%;
  width: 45%;
  height: 75%;
  border: 3px solid #9a6767;
  margin-top:1%;
}
div.note{
position:relative;
/*bottom:0;*/
/*left:0;*/
bottom: -90%;
}
.mycanvas{
 position:relative;
/*bottom:0;*/
/*left:0;*/
top: -20rem; 
}
body{
background-color:#ab9696;
}
div.wrapW {
  word-wrap: break-word;
}
.Instr{
  padding-left: 0.5em;
}